html, body {
  overflow: hidden !important;
}

::-webkit-scrollbar {
  width: 0px;
}

.table-clients-container {
  max-height: 420px;
  overflow: scroll;
}

.table-server th, .table-server td {
  text-align: left !important;
  vertical-align: middle !important;
}

.table-clients th, .table-clients td {
  text-align: center !important;
  vertical-align: middle !important;
}

button.is-success .icon {
  fill: white !important;
}

button.is-danger .icon {
  fill: white !important;
}

.border-0 {
  border: 0 !important;
}

.modal .label {
  font-size: 0.9rem;
}

.sync {
  min-width: 30px;
}

.sync.is-loading .icon {
  display: none;
}

.table-server th, .table-server td, .table-clients th, #modal table {
  font-size: 0.9rem;
}

#modal table {
  font-size: 0.8rem;
}

#modal-tables th, #modal-tables td {
  vertical-align: middle !important;
}

#modal-tables tbody td .select.is-small {
  font-size: 0.7rem;
}

#modal-tables thead tr:nth-child(1) th {
  text-align: center !important;
}

#modal-tables thead th:nth-child(n+2), #modal-tables tbody td:nth-child(n+2) {
  text-align: center !important;
}

#modal-tables tbody td:nth-child(n+3) {
  width: 65px;
}

#modal-tables tbody td .tag {
  max-height: 20px;
}

#modal .buttons .button {
  min-width: 4rem;
}

#modal .modal-card-foot .button {
  min-width: 4rem;
}


.notification {
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  max-width: 300px;
  font-size: 14px;
  z-index: 9999;
}

.notification .icon {
  fill: white !important;
}


.field-label {
  flex-grow: 0 !important;
  min-width: 5rem;
}
