html, body {
  overflow: hidden !important;
}

::-webkit-scrollbar {
  width: 0px;
}

.table-clients-container {
  max-height: 420px;
  overflow: scroll;
}

.table-server th, .table-server td {
  text-align: left !important;
  vertical-align: middle !important;
}

.table-clients th, .table-clients td {
  text-align: center !important;
  vertical-align: middle !important;
}

button.is-success .icon {
  fill: white !important;
}

button.is-danger .icon {
  fill: white !important;
}

.border-0 {
  border: 0 !important;
}

.modal .label {
  font-size: 0.9rem;
}

.table-server th, .table-server td, .table-clients th, #modal table {
  font-size: 0.9rem;
}

#modal table {
  font-size: 0.8rem;
}

#modal-tables th, #modal-tables td {
  vertical-align: middle !important;
}

#modal-tables thead th:nth-child(3), #modal-tables tbody td:nth-child(3) {
  text-align: center !important;
}

#modal-tables thead th:nth-child(4), #modal-tables tbody td:nth-child(4) {
  text-align: center !important;
}

#modal-tables tbody td:nth-child(4) .tag {
  max-height: 20px;
}

#modal .buttons .button {
  min-width: 4rem;
}
